<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    
    <!-- Para mudar de uma string de conexão pra outra, basta remover o a tag de comentário na sua string e colocar a tag de comentário na outra -->
    
    <!-- String de Conexão Marcos -->
    <!-- <add name="ConnectionString" connectionString="Data Source=DESKTOP-4HFUVHV;Initial Catalog=DB_BeautySystem;Integrated Security=True" providerName="System.Data.SqlClient"/> -->

    <!-- String de Conexão JJ Trabalho -->
    <!-- <add name="ConnectionString" connectionString="Data Source=JOSEJOAQUIM-PC;Initial Catalog=DB_BeautySystem;Integrated Security=True" providerName="System.Data.SqlClient"/> -->

    <!-- String de Conexão JJ Casa-->
    <add name="ConnectionString" connectionString="Data Source=PC-SUPORTE;Initial Catalog=DB_BeautySystem;Integrated Security=True" providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>

